.values-on-morphological-analysis {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 7px;
}

.value-on-morphological-analysis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  background-color: var(--dark);
  color: var(--light-text);
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  transition: 0.3s ease-in-out all;
  line-height: 19px;
}

.value-on-morphological-analysis:hover {
  background-color: var(--dark-hover);
}
