label {
  position: relative;
}

.error {
  color: var(--danger-normal);
}

.error-input {
  border-color: var(--danger-normal);
  background-color: var(--danger-subtle);
  color: var(--danger-normal);
}

.error-messages {
  position: fixed;
  bottom: 0px;
  left: 0;
  /* background-color: var(--background-three); */
  color: var(--secondary-normal);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 9999;
}
