<div class="verses">
  <div class="verse" *ngFor="let verse of verses">
    <p class="verse-number" (click)="selectVerse(verse)">
      {{ verse.verseNumber }}: {{ verse.verseTranslation }}
    </p>
    <ng-container *ngIf="selectedVerse?.verseId === verse.verseId">
      <ng-container *ngIf="verse.verseOnVersions">
        <app-verses-on-versions
          [versesOnVersions]="verse.verseOnVersions"
          [verseId]="verse.verseId"
        ></app-verses-on-versions>
      </ng-container>
      <ng-container *ngIf="verse.propositionsOnVerse">
        <app-propositions-on-verses
          [propositionsOnVerses]="verse.propositionsOnVerse"
          [verseId]="verse.verseId"
        ></app-propositions-on-verses>
      </ng-container>
      <ng-container *ngIf="verse.originalsOnVerse">
        <app-originals-on-verses
          [originalsOnVerse]="verse.originalsOnVerse"
        ></app-originals-on-verses>
      </ng-container>
    </ng-container>
  </div>
  <img
    class="plus-icon"
    src="assets/icons/plusIcon.svg"
    alt="Mais"
    (click)="creating = true"
  />
</div>

<ng-container *ngIf="creating">
  <app-custom-form
    (cancelEmmitter)="creating = false"
    (saveEmmitter)="createVerse()"
  >
    <div class="form-section">
      <app-custom-input
        [label]="'Número do verso'"
        [(ngModel)]="createVerseData.verseNumber"
        [inputType]="'number'"
        placeholder="7"
        [size]="'tiny'"
        [customValidators]="[validators.minMax(1, 180), validators.required()]"
      >
      </app-custom-input>
    </div>

    <div class="form-section">
      <app-custom-input
        [label]="'Tradução do versículo'"
        [(ngModel)]="createVerseData.verseTranslation"
        [inputType]="'text'"
        placeholder="Tudo cobre, tudo crê, tudo espera, tudo aguenta."
        [size]="'huge'"
        [customValidators]="[
          validators.minMaxLength(10, 3000),
          validators.required()
        ]"
      >
      </app-custom-input>
    </div>
  </app-custom-form>
</ng-container>
