<div class="propositions-on-verse">
  <h1>Proposições</h1>
  <div
    class="proposition-on-verse"
    *ngFor="let propositionOnVerse of propositionsOnVerses"
  >
    <p
      class="proposition-text"
      (click)="selectPropositionOnVerse(propositionOnVerse)"
    >
      {{ propositionOnVerse.proposition?.propositionText }}
    </p>
    <ng-container
      *ngIf="
        propositionOnVerse.propositionId ===
          selectedPropositionOnVerse?.propositionId &&
        propositionOnVerse.proposition &&
        propositionOnVerse.proposition.themesOnPropositions
      "
    >
      <app-themes-on-propositions
        [themesOnPropositions]="
          propositionOnVerse.proposition.themesOnPropositions
        "
      ></app-themes-on-propositions>
    </ng-container>
  </div>
  <img
    class="plus-icon"
    src="assets/icons/plusIcon.svg"
    alt="Mais"
    (click)="creating = true"
  />
</div>
<ng-container *ngIf="creating">
  <app-custom-form
    (cancelEmmitter)="creating = false"
    (saveEmmitter)="createProposition()"
  >
    <div class="form-section">
      <app-custom-input
        [customValidators]="[
          validators.required(),
          validators.minMaxLength(5, 255)
        ]"
        [(ngModel)]="createPropositionData.propositionText"
        [inputType]="'text'"
        [label]="'Texto da proposição'"
        [placeholder]="'Houve um princípio.'"
        [size]="'huge'"
      ></app-custom-input>
    </div>
  </app-custom-form>
</ng-container>
