.alerts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.alert-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: -2px;
  right: 2px;
  background-color: var(--dark);
  color: var(--text-caption);
  border: none;
  cursor: pointer;
  border-radius: 15%;
  padding: 5px;
  font-size: 9px;
}

.error {
  background-color: var(--danger-normal);
}

.info {
  background-color: var(--information-normal);
}

.success {
  background-color: var(--success-normal);
}

.warning {
  background-color: var(--warning-normal);
}

.alert-message-container {
  padding: 10px;
  color: var(--text-caption);
}

.alert-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: var(--text-caption);
}

.alert-description {
  font-family: "Noto Sans", sans-serif;
  display: block;
  color: var(--text-caption);
}
