.books {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
}

.book {
  padding: 20px;
  background-color: #c2a3a3;
  border-radius: 5px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}

.book:hover {
  background-color: #c48484;
}
