<div class="books">
  <div *ngFor="let book of books" class="book">
    <img
      class="trash-icon"
      src="assets/icons/trashIcon.svg"
      alt="Deletar"
      (click)="deleteBook(book.bookId)"
    />
    <p (click)="selectBook(book)">{{ book.bookCompleteName }}</p>
    <ng-container *ngIf="selectedBook?.bookId === book.bookId">
      <ng-container *ngIf="book.chapters">
        <app-chapters [chapters]="book.chapters"></app-chapters>
      </ng-container>
    </ng-container>
  </div>
  <img
    class="plus-icon"
    src="assets/icons/plusIcon.svg"
    alt="Mais"
    (click)="creating = true"
  />
</div>
<ng-container *ngIf="creating">
  <app-custom-form
    (cancelEmmitter)="creating = false"
    (saveEmmitter)="createBook()"
  >
    <div class="form-section">
      <app-custom-input
        [label]="'Nome completo do Livro'"
        [(ngModel)]="createBookData.bookCompleteName"
        [inputType]="'text'"
        placeholder="Primeira epístola de Paulo aos Corinthios"
        [size]="'huge'"
        [customValidators]="[
          validators.minMaxLength(5, 150),
          validators.required()
        ]"
      >
      </app-custom-input>
    </div>

    <div class="form-section">
      <app-custom-input
        [label]="'Nome reduzido'"
        [(ngModel)]="createBookData.bookReducedName"
        [inputType]="'text'"
        placeholder="1 Corinthios"
        [size]="'big'"
        [customValidators]="[
          validators.minMaxLength(2, 100),
          validators.required()
        ]"
      >
      </app-custom-input>
      <app-custom-input
        [label]="'Abreviação'"
        [(ngModel)]="createBookData.bookAbbr"
        [inputType]="'text'"
        placeholder="1Cor"
        [size]="'small'"
        [customValidators]="[
          validators.minMaxLength(2, 10),
          validators.required()
        ]"
      >
      </app-custom-input>
    </div>
    <div class="form-section">
      <app-custom-input
        [size]="'tiny'"
        [label]="'Posição'"
        [(ngModel)]="createBookData.bookPosition"
        [inputType]="'number'"
        [customValidators]="[validators.minMax(1, 66), validators.required()]"
        [placeholder]="'46'"
      >
      </app-custom-input>
      <app-custom-input
        [selectOptions]="[
          { value: 'Antigo', label: 'Antigo' },
          { value: 'Novo', label: 'Novo' }
        ]"
        [label]="'Testamento'"
        [(ngModel)]="createBookData.testament"
        [inputType]="'select'"
        [customValidators]="[validators.required()]"
      >
      </app-custom-input>
    </div>
    <div class="form-section"></div>

    {{ createBookData.testament }}
    {{ createBookData.bookPosition }}
  </app-custom-form>
</ng-container>
