.livros {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
}

.livro {
  padding: 20px;
  background-color: #c2a3a3;
  border-radius: 5px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}

.livro:hover {
  scale: 1.05;
}
