.books {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
  width: fit-content;
  max-width: 80vw;
}

.book {
  padding: 20px;
  background-color: var(--background-two);
  border-radius: 5px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}

.book:hover {
  background-color: #c48484;
}

.plus-icon {
  position: absolute;
  right: -25px;
  top: 2px;

  width: 30px;
  cursor: pointer;

  transition: 0.3s ease-in-out all;
}

.plus-icon:hover {
  transform: rotate(180deg);
}
