@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --dark-text: #343a40;
  --light-text: #f8f9fa;
  --warning: #ffc107;
  --info: #6ea5ad;
  --light: #f8f9fa;
  --light-hover: #9fa6ad;
  --dark: #343a40;
  --dark-hover: #2a3947;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  font-family: "Inknut Antiqua", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 30px;
}
